@use "./mixin";
@use "./variables";

.footer {
  width: 100%;
  padding: variables.$pm-base * 4;
  padding-top: variables.$pm-base * 6;
  background-color: variables.$primary-black;
  @include mixin.flexbox(column, center, flex-start);

  @include mixin.tablet {
    padding: variables.$pm-base * 9;
    padding-top: variables.$pm-base * 12;
  }

  @include mixin.desktop {
    padding: variables.$pm-base * 9 variables.$pm-base * 32;
    padding-top: variables.$pm-base * 12;
  }

  &__info-container {
    width: 100%;
    @include mixin.flexbox(column, center, flex-start);

    @include mixin.tablet {
      @include mixin.flexbox(row, flex-start, stretch);
      flex-wrap: wrap;
    }
  }

  &__info-brand {
    width: 100%;
    @include mixin.flexbox(column, center, flex-start);

    @include mixin.tablet {
      @include mixin.flexbox(row, flex-start, stretch);
      width: 80%;
      order: 0;
    }

    @include mixin.desktop {
      width: 85%;
    }
  }

  &__title {
    @include mixin.mobil-header;
    color: variables.$primary-white;

    @include mixin.tablet {
      @include mixin.section-header;
    }
  }

  &__info-icons {
    margin-top: variables.$pm-base * 4;

    @include mixin.tablet {
      margin-left: variables.$pm-base * 4;
    }

    @include mixin.tablet {
      margin-left: variables.$pm-base * 9;
    }
  }

  &__info-icon {
    margin-right: variables.$pm-base * 8;
  }

  &__brand {
    width: 35%;
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: variables.$pm-base * 4 0;
    order: 4;
    margin-top: variables.$pm-base * 14;

    @include mixin.tablet {
      width: 17%;
      order: 1;
      margin-top: variables.$pm-base * 4;
    }

    @include mixin.desktop {
      width: 15%;
    }
  }

  &__contact {
    @include mixin.flexbox(column, center, flex-start);
    @include mixin.mobil-text;
    color: variables.$primary-white;

    @include mixin.tablet {
      width: 100%;
      @include mixin.flexbox(row, space-between, stretch);
      @include mixin.footer-text;
      color: variables.$primary-white;
      order: 2;
    }

    @include mixin.desktop {
      @include mixin.flexbox(row, flex-start, stretch);
    }
  }

  &__staff-container {
    @include mixin.flexbox(column, center, flex-start);
    margin-top: variables.$pm-base * 6;

    @include mixin.tablet {
      margin-top: variables.$pm-base * 9;
    }

    @include mixin.desktop {
      margin-right: variables.$pm-base * 14;
    }
  }

  &__staff {
    font-weight: 500;
  }

  &__location {
    margin: variables.$pm-base * 4 0;
    font-style: normal;

    @include mixin.tablet {
      margin: variables.$pm-base * 6 0;
    }
  }

  &__email {
    color: variables.$primary-white;
  }

  &__copyright {
    @include mixin.mobil-button;
    font-weight: 400;
    color: variables.$primary-white;
    order: 5;

    @include mixin.tablet {
      @include mixin.footer-text;
      letter-spacing: 0;
      order: 3;
      margin-top: variables.$pm-base * 12;
    }
  }
}
