@use "./variables";

@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// font for desktop and tablet
@mixin page-header {
  font-family: "Avenir", serif;
  font-weight: 700;
  line-height: 4.25rem;
  font-size: 3.75rem;
  letter-spacing: 0.1rem;
}

@mixin section-header {
  font-family: "Avenir", serif;
  font-weight: 700;
  line-height: 2.75rem;
  font-size: 2.25rem;
}

@mixin subheader {
  font-family: "Avenir", serif;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
}

@mixin text {
  font-family: "Avenir", serif;
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 0.875rem;
}

@mixin footer-text {
  font-family: "Avenir", serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
}

@mixin button {
  font-family: "Avenir", serif;
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.75rem;
}

// font for mobile
@mixin mobil-header {
  font-family: "Avenir", serif;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

@mixin mobil-subheader {
  font-family: "Avenir", serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
}

@mixin mobil-text {
  font-family: "Avenir", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}

@mixin mobil-button {
  font-family: "Avenir", serif;
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.625rem;
}

// responsive
@mixin desktop {
  @media (min-width: variables.$desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: variables.$tablet) {
    @content;
  }
}
