$primary-black: #323232;
$primary-Silver: #afafaf;
$primary-white: #ffffff;
$secondary-black: #000000;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;

$max-width: 120rem;
$mix-width: 20rem;
$desktop: 80rem;
$tablet: 48rem;
$mobil: 20rem;

$pm-base: 0.25rem; //   mobile min 4; tablet min 9
