@use "./partials/mixin";
@use "./partials/variables";
@use "./partials/global";
@use "./partials/footer";
@use "./partials/header";

/****** main - hero *******/
.hero {
  width: 100%;
  height: 30vh;
  min-height: 12rem;
  background-blend-mode: multiply;
  background-color: rgba(50, 50, 50, 0.5);
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mixin.flexbox(row, flex-start, center);

  @include mixin.tablet {
    height: 45vh;
    min-height: 29rem;
  }

  @include mixin.desktop {
    height: 45vh;
    min-height: 40rem;
  }

  &__title {
    @include mixin.mobil-header;
    color: variables.$primary-white;
    margin-left: variables.$pm-base * 4;

    @include mixin.tablet {
      @include mixin.page-header;
      margin-left: variables.$pm-base * 9;
    }

    @include mixin.desktop {
      margin-left: variables.$pm-base * 32;
    }
  }
}

/****** main - intro *******/
.introduction {
  width: 100%;
  padding: variables.$pm-base * 4;
  padding-top: 0;
  margin-top: variables.$pm-base * 6;
  background-color: variables.$primary-white;

  @include mixin.tablet {
    padding-bottom: variables.$pm-base * 9;
    margin-top: variables.$pm-base * 12;
  }

  @include mixin.desktop {
    margin-top: variables.$pm-base * 12;
  }

  &__subheader {
    @include mixin.mobil-header;
    color: variables.$primary-black;

    @include mixin.tablet {
      @include mixin.section-header;
      margin-left: variables.$pm-base * 6;
    }

    @include mixin.desktop {
      margin-left: variables.$pm-base * 32;
    }
  }

  &__img {
    width: 100%;
    height: 26vh;
    min-height: 9rem;
    margin: variables.$pm-base * 4 0;
    background-image: url("../assets/images/band.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mixin.tablet {
      width: 80%;
      height: 30vh;
      min-height: 18rem;
      margin: variables.$pm-base * 9 auto;
    }

    @include mixin.desktop {
      width: 68%;
      height: 32vh;
      min-height: 28rem;
      margin: variables.$pm-base * 9 auto;
    }
  }

  &__quote {
    @include mixin.mobil-subheader;
    color: variables.$primary-black;

    @include mixin.tablet {
      width: 80%;
      margin: 0 auto;
      @include mixin.subheader;
      font-weight: 500;
    }

    @include mixin.desktop {
      width: 69%;
      margin: variables.$pm-base * 9 auto;
      margin-bottom: 0;
    }

    &--origin {
      @include mixin.tablet {
        @include mixin.text;
        font-size: 1rem;
        font-weight: 500;
        margin-top: variables.$pm-base * 4;
      }
    }
  }

  &__info {
    @include mixin.flexbox(column, center, flex-start);
    margin-top: variables.$pm-base * 6;

    @include mixin.tablet {
      width: 80%;
      margin: 0 auto;
    }

    @include mixin.desktop {
      width: 69%;
      margin: 0 auto;
    }
  }

  &__title {
    @include mixin.mobil-subheader;
    font-weight: 500;
    color: variables.$primary-black;

    @include mixin.tablet {
      @include mixin.subheader;
      margin-top: variables.$pm-base * 11;
    }

    @include mixin.desktop {
      margin-top: variables.$pm-base * 13;
    }
  }

  &__content {
    @include mixin.tablet {
      @include mixin.flexbox(row, space-between, stretch);
    }
  }

  &__text {
    @include mixin.mobil-text;
    color: variables.$primary-black;
    margin-top: variables.$pm-base * 4;

    @include mixin.tablet {
      @include mixin.text;
      margin-top: variables.$pm-base * 6;
      width: 48%;
    }
  }
}

/****** main - photo *******/
.photo {
  width: 100%;
  @include mixin.flexbox(column, center, flex-start);
  padding: variables.$pm-base * 4;
  padding-top: variables.$pm-base * 6;
  background-color: variables.$secondary-white;

  @include mixin.tablet {
    padding: variables.$pm-base * 9;
  }

  @include mixin.desktop {
    padding-top: variables.$pm-base * 14;
  }

  &__subheader {
    @include mixin.mobil-header;
    color: variables.$primary-black;

    @include mixin.tablet {
      @include mixin.section-header;
    }

    @include mixin.desktop {
      margin-left: variables.$pm-base * 24;
    }
  }

  &__gallery {
    width: 100%;
    @include mixin.flexbox(column, center, flex-start);

    @include mixin.tablet {
      @include mixin.flexbox(row, space-between, center);
      flex-wrap: wrap;
    }

    @include mixin.desktop {
      width: 85%;
      margin: 0 auto;
      padding-top: variables.$pm-base * 3;
    }
  }

  &__img {
    width: 100%;
    height: 24vh;
    min-height: 10rem;
    margin-top: variables.$pm-base * 4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--photo1 {
      background-image: url("../assets/images/Photo-gallery-1.jpg");
    }
    &--photo2 {
      background-image: url("../assets/images/Photo-gallery-2.jpg");
    }
    &--photo3 {
      background-image: url("../assets/images/Photo-gallery-3.jpg");
    }
    &--photo4 {
      background-image: url("../assets/images/Photo-gallery-4.jpg");
    }
    &--photo5 {
      background-image: url("../assets/images/Photo-gallery-5.jpg");
    }
    &--photo6 {
      background-image: url("../assets/images/Photo-gallery-6.jpg");
    }
    &--photo7 {
      background-image: url("../assets/images/Photo-gallery-7.jpg");
    }
    &--photo8 {
      background-image: url("../assets/images/Photo-gallery-8.jpg");
    }
    &--photo9 {
      background-image: url("../assets/images/Photo-gallery-9.jpg");
    }

    &:hover {
      filter: grayscale(90%);
    }

    @include mixin.tablet {
      width: 31%;
      height: 10vh;
      min-height: 8rem;
      margin-top: variables.$pm-base * 6;
    }

    @include mixin.desktop {
      height: 12vh;
      min-height: 11.5rem;
      margin-top: variables.$pm-base * 6;
    }
  }
}

/****** main - form *******/
.comment {
  width: 100%;
  padding: variables.$pm-base * 4;

  @include mixin.tablet {
    padding: variables.$pm-base * 12 variables.$pm-base * 9;
    padding-bottom: variables.$pm-base * 9;
  }

  @include mixin.desktop {
    @include mixin.flexbox(column, flex-start, center);
  }

  &__subheader {
    @include mixin.mobil-header;
    color: variables.$primary-black;

    @include mixin.tablet {
      @include mixin.section-header;
    }

    @include mixin.desktop {
      margin-left: variables.$pm-base * 24;
      align-self: flex-start;
    }
  }
}

.form {
  @include mixin.flexbox(row, space-between, flex-start);
  width: 100%;
  padding: variables.$pm-base * 4 0;
  border-bottom: 1px solid variables.$secondary-silver;

  @include mixin.tablet {
    @include mixin.flexbox(row, flex-start, flex-start);
    width: 85%;
    padding-bottom: variables.$pm-base * 2;
    padding-top: variables.$pm-base * 9;
    margin: 0 variables.$pm-base * 15;
  }

  @include mixin.desktop {
    width: 40%;
  }

  &__img {
    width: 12vw;
    height: 12vw;
    max-width: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    margin-top: variables.$pm-base * 4;

    @include mixin.tablet {
      width: 10vw;
      height: 10vw;
      max-width: 3rem;
      max-height: 3rem;
      margin-top: variables.$pm-base * 6;
    }
  }

  &__content {
    width: 82%;
    margin-left: variables.$pm-base * 4;

    @include mixin.tablet {
      margin-left: variables.$pm-base * 4;
      width: 88%;
      @include mixin.flexbox(column, flex-start, center);
    }
  }

  &__entries {
    @include mixin.flexbox(column, flex-start, flex-start);
    @include mixin.tablet {
      width: 100%;
      margin-bottom: variables.$pm-base * 4;
    }
  }

  &__title {
    @include mixin.mobil-button;
    color: variables.$primary-silver;
    margin-bottom: variables.$pm-base;

    @include mixin.tablet {
      @include mixin.button;
    }
  }
}

#name,
#comment {
  padding: variables.$pm-base * 3;
  width: 100%;
  border: 1px solid variables.$secondary-silver;
  border-radius: 4px;
  @include mixin.mobil-text;
  color: variables.$primary-black;
  background-color: variables.$secondary-white;

  @include mixin.tablet {
    padding: variables.$pm-base * 4;
  }

  &:focus {
    outline: none; // cancel the defaults
    border: 1px solid variables.$primary-black;
  }
  &:focus:invalid {
    //chain up to avoid red border on loading
    outline: none;
    border: 1px solid #d22d2d;
  }
}

#submitBtn {
  height: 2.5rem;
  width: 100%;
  padding: variables.$pm-base * 2 variables.$pm-base * 8;
  min-width: 9.375rem;
  margin-top: variables.$pm-base * 2;
  @include mixin.mobil-text;
  color: variables.$primary-white;
  background-color: variables.$primary-black;
  border-radius: 4px;

  @include mixin.tablet {
    width: 20%;
    margin-bottom: variables.$pm-base * 4;
    align-self: flex-end;
  }

  &:hover {
    background-color: variables.$secondary-black;
  }
}

/****** main - js *******/
.comment {
  &__card {
    @include mixin.flexbox(row, flex-start, flex-start);
    padding-top: variables.$pm-base * 4;
    padding-bottom: variables.$pm-base * 3;
    border-bottom: 1px solid variables.$secondary-silver;

    @include mixin.tablet {
      @include mixin.flexbox(row, flex-start, flex-start);
      width: 84%;
      padding: variables.$pm-base * 6 0;
      margin: 0 variables.$pm-base * 14;
    }

    @include mixin.desktop {
      width: 40%;
    }
  }

  &__profile-image {
    width: 12vw;
    height: 12vw;
    max-width: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    background-color: variables.$secondary-silver;

    @include mixin.tablet {
      width: 10vw;
      height: 10vw;
      max-width: 3rem;
      max-height: 3rem;
    }
  }

  &__container {
    width: 80%;
    @include mixin.mobil-text;
    color: variables.$primary-black;
    margin-left: variables.$pm-base * 4;

    @include mixin.tablet {
      width: 88%;
      @include mixin.text;
    }
  }

  &__info-container {
    @include mixin.flexbox(row, space-between, center);
    margin-bottom: variables.$pm-base;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: variables.$primary-silver;
  }
}
