* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .footer {
    padding: 2.25rem;
    padding-top: 3rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 2.25rem 8rem;
    padding-top: 3rem;
  }
}
.footer__info-container {
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer__info-brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .footer__info-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.footer__title {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .footer__title {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
}
.footer__info-icons {
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  .footer__info-icons {
    margin-left: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__info-icons {
    margin-left: 2.25rem;
  }
}
.footer__info-icon {
  margin-right: 2rem;
}
.footer__brand {
  width: 35%;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0;
}
.footer__brand--display1 {
  display: none;
}
@media (min-width: 48rem) {
  .footer__brand--display1 {
    display: inline;
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .footer__brand--display2 {
    display: none;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .footer__contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-family: "Avenir";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.05rem;
    color: #ffffff;
  }
}
@media (min-width: 80rem) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.footer__staff-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .footer__staff-container {
    margin-top: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__staff-container {
    margin-right: 3.5rem;
  }
}
.footer__staff {
  font-weight: 500;
}
.footer__location {
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .footer__location {
    margin: 1.5rem 0;
  }
}
.footer__email {
  color: #ffffff;
}
.footer__copyright {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 0.625rem;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-family: "Avenir";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.05rem;
    letter-spacing: 0;
  }
}

/****** header  *******/
.header {
  background-color: #323232;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .header {
    padding-left: 8rem;
    padding-top: 1.5rem;
  }
}
.header__logo {
  width: 100%;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-bottom: 1rem;
}

/****** nav *******/
.nav {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.nav__link {
  font-family: "Avenir";
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #afafaf;
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .nav__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 1rem;
    margin-left: 4rem;
  }
}
@media (min-width: 80rem) {
  .nav__link {
    padding-bottom: 1.5rem;
    margin-left: 3rem;
  }
}
.nav__link:hover, .nav__link--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

/****** main - hero *******/
.hero {
  width: 100%;
  height: 30vh;
  min-height: 12rem;
  background-blend-mode: multiply;
  background-color: rgba(50, 50, 50, 0.5);
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 48rem) {
  .hero {
    height: 45vh;
    min-height: 29rem;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 45vh;
    min-height: 40rem;
  }
}
.hero__title {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #ffffff;
  margin-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 4.25rem;
    font-size: 3.75rem;
    letter-spacing: 0.1rem;
    margin-left: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__title {
    margin-left: 8rem;
  }
}

/****** main - intro *******/
.introduction {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  margin-top: 1.5rem;
  background-color: #ffffff;
}
@media (min-width: 48rem) {
  .introduction {
    padding-bottom: 2.25rem;
    margin-top: 3rem;
  }
}
@media (min-width: 80rem) {
  .introduction {
    margin-top: 3rem;
  }
}
.introduction__subheader {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #323232;
}
@media (min-width: 48rem) {
  .introduction__subheader {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .introduction__subheader {
    margin-left: 8rem;
  }
}
.introduction__img {
  width: 100%;
  height: 26vh;
  min-height: 9rem;
  margin: 1rem 0;
  background-image: url("../assets/images/band.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 48rem) {
  .introduction__img {
    width: 80%;
    height: 30vh;
    min-height: 18rem;
    margin: 2.25rem auto;
  }
}
@media (min-width: 80rem) {
  .introduction__img {
    width: 68%;
    height: 32vh;
    min-height: 28rem;
    margin: 2.25rem auto;
  }
}
.introduction__quote {
  font-family: "Avenir";
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #323232;
}
@media (min-width: 48rem) {
  .introduction__quote {
    width: 80%;
    margin: 0 auto;
    font-family: "Avenir";
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media (min-width: 80rem) {
  .introduction__quote {
    width: 69%;
    margin: 2.25rem auto;
    margin-bottom: 0;
  }
}
@media (min-width: 48rem) {
  .introduction__quote--origin {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
.introduction__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}
@media (min-width: 48rem) {
  .introduction__info {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 80rem) {
  .introduction__info {
    width: 69%;
    margin: 0 auto;
  }
}
.introduction__title {
  font-family: "Avenir";
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  color: #323232;
}
@media (min-width: 48rem) {
  .introduction__title {
    font-family: "Avenir";
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-top: 2.75rem;
  }
}
@media (min-width: 80rem) {
  .introduction__title {
    margin-top: 3.25rem;
  }
}
@media (min-width: 48rem) {
  .introduction__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
.introduction__text {
  font-family: "Avenir";
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
  color: #323232;
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  .introduction__text {
    font-family: "Avenir";
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
    margin-top: 1.5rem;
    width: 48%;
  }
}

/****** main - photo *******/
.photo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: #fafafa;
}
@media (min-width: 48rem) {
  .photo {
    padding: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo {
    padding-top: 3.5rem;
  }
}
.photo__subheader {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #323232;
}
@media (min-width: 48rem) {
  .photo__subheader {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo__subheader {
    margin-left: 6rem;
  }
}
.photo__gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .photo__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 80rem) {
  .photo__gallery {
    width: 85%;
    margin: 0 auto;
    padding-top: 0.75rem;
  }
}
.photo__img {
  width: 100%;
  height: 24vh;
  min-height: 10rem;
  margin-top: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.photo__img--photo1 {
  background-image: url("../assets/images/Photo-gallery-1.jpg");
}
.photo__img--photo2 {
  background-image: url("../assets/images/Photo-gallery-2.jpg");
}
.photo__img--photo3 {
  background-image: url("../assets/images/Photo-gallery-3.jpg");
}
.photo__img--photo4 {
  background-image: url("../assets/images/Photo-gallery-4.jpg");
}
.photo__img--photo5 {
  background-image: url("../assets/images/Photo-gallery-5.jpg");
}
.photo__img--photo6 {
  background-image: url("../assets/images/Photo-gallery-6.jpg");
}
.photo__img--photo7 {
  background-image: url("../assets/images/Photo-gallery-7.jpg");
}
.photo__img--photo8 {
  background-image: url("../assets/images/Photo-gallery-8.jpg");
}
.photo__img--photo9 {
  background-image: url("../assets/images/Photo-gallery-9.jpg");
}
.photo__img:hover {
  filter: grayscale(90%);
}
@media (min-width: 48rem) {
  .photo__img {
    width: 31%;
    height: 10vh;
    min-height: 8rem;
    margin-top: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .photo__img {
    height: 12vh;
    min-height: 11.5rem;
    margin-top: 1.5rem;
  }
}/*# sourceMappingURL=bio.css.map */